/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background-color: #f2f2f2;
  height: 100%;
  /* 555 - 768px */ }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    html, body {
      background-color: white; } }

blockquote {
  border-left: 0.5em solid #E6E6FA; }

img {
  display: block;
  margin: auto; }

/* light black */
/* dark black */
/* -------------- Begin CSS --------------- */
body {
  font-family: "brandon-grotesque", sans-serif;
  color: #444444; }
  body * html {
    font-size: 100%; }
  body html {
    font-size: 16px;
    line-height: 1.5em; }
  body a {
    text-decoration: none;
    color: inherit; }

p {
  color: #444444;
  font-family: "brandon-grotesque", sans-serif; }

blockquote {
  background: white;
  padding-left: 1em; }

h1 {
  color: #222222;
  font-family: "adelle" serif;
  text-transform: capitalize;
  font-size: 2.94519em;
  line-height: 1.52792em; }

h2 {
  color: #222222;
  font-family: "adelle" serif;
  font-size: 2.61794em;
  line-height: 1.14594em; }

h3 {
  color: #222222;
  font-family: "adelle" serif;
  font-size: 1.82025em;
  line-height: 1.64813em; }

h4 {
  color: #222222;
  font-family: "atrament-web" sans-serif;
  font-size: 1.618em;
  line-height: 1.85414em; }

h5 {
  color: #222222;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.125em;
  line-height: 1.33333em; }

.entire-page {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .entire-page {
      padding: 0 0 1em 0; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .entire-page {
      padding: 0 0 1em 0; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .entire-page {
      padding: 0 0 1em 0; } }

.header {
  /* 0 - 432px */ }

footer {
  /* 0 - 432px */
  /* 769px - 820px */ }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    footer {
      position: relative;
      bottom: 0;
      left: 0;
      margin: 1em 0 1em .6em;
      background: #FFF;
      width: auto; } }

.main {
  /* 0 - 432px */
  /* 769px - 820px */ }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .main {
      background-color: #FFF;
      margin: 3em 0 0 20em;
      padding: 1em;
      width: auto; } }

.nav {
  /* 0 - 432px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .nav {
      text-align: center; } }

.top {
  /* 769px - 820px */ }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .top {
      position: fixed;
      left: 0;
      top: 0;
      width: 16em;
      margin: 0 0 0 1.5em;
      text-align: right; } }

.header {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .header {
      background: white;
      text-align: center; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .header {
      background: white;
      margin: 0 auto;
      text-align: center;
      width: 25em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .header {
      text-align: center;
      margin: 0 auto;
      width: 30em; } }

.title {
  /* 0 - 432px */ }

.nav {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */
  /* 769px - 820px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .nav {
      background-color: white;
      margin: 0 auto;
      padding: .5em 0 .5em 0;
      text-align: center;
      width: 10.5em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .nav {
      background-color: white;
      margin: 0 auto;
      padding: .5em 0em .5em 0em;
      text-align: center;
      width: 17em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .nav {
      margin: 0 auto;
      padding: .5em 0em .5em 0em;
      text-align: center;
      width: 25em; } }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .nav {
      width: 15em;
      margin: 0.3em; } }

.nav-title-1,
.nav-title-2 {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */
  /* 769px - 820px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .nav-title-1,
    .nav-title-2 {
      font-weight: normal;
      margin: 0.1em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .nav-title-1,
    .nav-title-2 {
      display: inline;
      font-weight: normal;
      margin: 0em .5em 0em .5em;
      text-decoration: underline; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .nav-title-1,
    .nav-title-2 {
      display: inline;
      font-weight: normal;
      margin: 0em .5em 0em .5em;
      text-decoration: underline; } }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .nav-title-1,
    .nav-title-2 {
      font-weight: normal;
      margin: 0.3em;
      text-decoration: underline; } }

.aboutus {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .aboutus {
      background-color: white;
      hyphens: auto;
      padding: 1em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .aboutus {
      background-color: white;
      hyphens: auto;
      padding: 1em 2em 1em 2em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .aboutus {
      hyphens: auto;
      margin: 0 auto;
      padding: 1em 2em 1em 2em;
      width: 30em; } }
  .aboutus h4 {
    margin: 0;
    text-align: center; }
  .aboutus li {
    list-style-type: square;
    margin: .5em 0 .2em 0; }

.home {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .home {
      background-color: white;
      margin: 0 .5em 0 .5em;
      padding: .6em .2em .2em .6em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .home {
      background-color: white;
      margin: 0 auto;
      padding: 1em;
      width: 25em; } }
  .home h3 {
    font-size: 1.618em;
    line-height: 1.85414em;
    font-weight: normal;
    margin: 0;
    text-align: center; }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .home {
      margin: 0 auto;
      padding: 1em;
      width: 30em; } }

.hp-posts {
  list-style-type: none !important;
  /* 0 - 432px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .hp-posts {
      list-style-type: none;
      margin: auto 0;
      padding: 0 0 .5em .8em;
      /* 769px - 820px */ }
      .hp-posts li {
        margin: 1em;
        list-style-type: none; } }
    @media all and (min-width: 0em) and (max-width: 27em) and (min-width: 48.1em) and (max-width: 100em) {
      .hp-posts {
        margin: auto 0;
        padding: 0 0 .5em .8em;
        text-align: center; } }

.meta {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */
  /* 769px - 820px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .meta {
      text-align: center; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .meta {
      text-align: center; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .meta {
      text-align: center; } }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .meta {
      text-align: center; } }

.pagetitle {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */
  /* 769px - 820px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .pagetitle {
      margin: 0;
      text-align: center; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .pagetitle {
      margin: 0;
      text-align: center; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .pagetitle {
      margin: 0;
      text-align: center; } }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .pagetitle {
      margin: 0;
      text-align: center; } }

.post {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .post {
      background-color: white;
      padding: 1em;
      text-align: justify;
      hyphens: auto; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .post {
      background-color: white;
      margin: 0 auto;
      padding: 1.5em;
      width: 26em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .post {
      margin: 0 auto;
      padding: 1.5em;
      width: 35em; } }

.welcome-message {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .welcome-message {
      background-color: white;
      margin: 0 .5em 0 .5em;
      padding: .5em .2em .2em .6em; } }
  .welcome-message h5 {
    margin: 0;
    text-align: center; }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .welcome-message {
      background-color: #FFF;
      margin: 0 auto;
      padding: 1em;
      width: 25em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    .welcome-message {
      margin: 0 auto;
      padding: 1em;
      width: 30em; } }

.contact {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 769px - 820px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    .contact {
      padding: 0.5em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    .contact {
      text-align: center; } }
  .contact h4,
  .contact p {
    font-weight: normal;
    margin: 0;
    padding: 0; }
  @media all and (min-width: 48.1em) and (max-width: 100em) {
    .contact {
      padding: 1em; } }

footer {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 - 768px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    footer {
      background-color: white;
      text-align: left; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    footer {
      background-color: white;
      margin: 0 auto;
      padding: .5em;
      width: 25em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    footer {
      background-color: #f2f2f2;
      margin: 0 auto;
      padding: .5em;
      width: 30em; }
      footer h4 {
        text-align: center; } }
