/* apply a natural box layout model to all elements */
/* line 2, ../sass/_basics.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, ../sass/_basics.scss */
html, body {
  background-color: #f2f2f2;
  height: 100%;
  /* 555 -  */ }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    /* line 9, ../sass/_basics.scss */
    html, body {
      background-color: white; } }

/* light black */
/* dark black */
/* -------------- Begin CSS --------------- */
/* line 13, ../sass/_type.scss */
body {
  font-family: "brandon-grotesque", sans-serif;
  color: #444444; }
  /* line 61, ../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body * html {
    font-size: 100%; }
  /* line 64, ../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body html {
    font-size: 16px;
    line-height: 1.5em; }
  /* line 18, ../sass/_type.scss */
  body a {
    text-decoration: none;
    color: inherit; }

/* line 26, ../sass/_type.scss */
p {
  color: #444444;
  font-family: "brandon-grotesque", sans-serif; }

/* line 32, ../sass/_type.scss */
blockquote {
  background: white;
  padding-left: 1em; }

/* line 39, ../sass/_type.scss */
h1 {
  color: #222222;
  font-family: "adelle" serif;
  text-transform: capitalize;
  font-size: 2.94519em;
  line-height: 1.52792em; }

/* line 47, ../sass/_type.scss */
h2 {
  color: #222222;
  font-family: "adelle" serif;
  font-size: 2.61794em;
  line-height: 1.14594em; }

/* line 54, ../sass/_type.scss */
h3 {
  color: #222222;
  font-family: "adelle" serif;
  font-size: 1.82025em;
  line-height: 1.64813em; }

/* line 61, ../sass/_type.scss */
h4 {
  color: #222222;
  font-family: "atrament-web" sans-serif;
  font-size: 1.618em;
  line-height: 1.85414em; }

/* line 68, ../sass/_type.scss */
h5 {
  color: #222222;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.125em;
  line-height: 1.33333em; }

/* line 1, ../sass/_structure.scss */
.entire-page {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 -  */
  /* 1024px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 1, ../sass/_structure.scss */
    .entire-page {
      padding: 0 0 1em 0; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 1, ../sass/_structure.scss */
    .entire-page {
      padding: 0 0 1em 0; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    /* line 1, ../sass/_structure.scss */
    .entire-page {
      padding: 0 0 1em 0; } }

/* line 25, ../sass/_structure.scss */
.header {
  /* 0 - 432px */
  /* 1024px */ }

/* line 48, ../sass/_structure.scss */
.footer {
  /* 0 - 432px */
  /* 1024px */ }

/* line 70, ../sass/_structure.scss */
.main {
  /* 0 - 432px */
  /* 1024px */ }

/* line 93, ../sass/_structure.scss */
.nav {
  /* 0 - 432px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 93, ../sass/_structure.scss */
    .nav {
      text-align: center; } }

/* line 1, ../sass/_header.scss */
.header {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 -  */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 1, ../sass/_header.scss */
    .header {
      background: white;
      text-align: center; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 1, ../sass/_header.scss */
    .header {
      background: white;
      margin: 0 auto;
      text-align: center;
      width: 25em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    /* line 1, ../sass/_header.scss */
    .header {
      text-align: center;
      margin: 0 auto;
      width: 30em; } }

/* line 28, ../sass/_header.scss */
.title {
  /* 0 - 432px */ }

/* line 1, ../sass/_nav.scss */
.nav {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 -  */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 1, ../sass/_nav.scss */
    .nav {
      background-color: white;
      margin: 0 auto;
      padding: .5em 0 .5em 0;
      text-align: center;
      width: 10.5em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 1, ../sass/_nav.scss */
    .nav {
      background-color: white;
      margin: 0 auto;
      padding: .5em 0em .5em 0em;
      text-align: center;
      width: 17em; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    /* line 1, ../sass/_nav.scss */
    .nav {
      margin: 0 auto;
      padding: .5em 0em .5em 0em;
      text-align: center;
      width: 25em; } }

/* line 30, ../sass/_nav.scss */
.nav-title-1,
.nav-title-2 {
  /* 0 - 432px */
  /* 433 - 478px */
  /* 555 -  */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 30, ../sass/_nav.scss */
    .nav-title-1,
    .nav-title-2 {
      font-weight: normal;
      margin: 0.1em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 30, ../sass/_nav.scss */
    .nav-title-1,
    .nav-title-2 {
      display: inline;
      font-weight: normal;
      margin: 0em .5em 0em .5em;
      text-decoration: underline; } }
  @media all and (min-width: 34.688em) and (max-width: 48em) {
    /* line 30, ../sass/_nav.scss */
    .nav-title-1,
    .nav-title-2 {
      display: inline;
      font-weight: normal;
      margin: 0em .5em 0em .5em;
      text-decoration: underline; } }

/* line 1, ../sass/_content.scss */
.aboutus {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 1, ../sass/_content.scss */
    .aboutus {
      background-color: white;
      padding: 1em;
      hyphens: auto; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 1, ../sass/_content.scss */
    .aboutus {
      background-color: white;
      padding: 1em 2em 1em 2em;
      hyphens: auto; } }
  /* line 16, ../sass/_content.scss */
  .aboutus h4 {
    margin: 0;
    text-align: center; }
  /* line 22, ../sass/_content.scss */
  .aboutus li {
    list-style-type: square;
    margin: .5em 0 .2em 0; }

/* line 29, ../sass/_content.scss */
.home {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 29, ../sass/_content.scss */
    .home {
      background-color: white;
      margin: 0 .5em 0 .5em;
      padding: .6em .2em .2em .6em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 29, ../sass/_content.scss */
    .home {
      background-color: white;
      margin: 0 auto;
      padding: 1em;
      width: 25em; } }
  /* line 46, ../sass/_content.scss */
  .home h3 {
    font-size: 1.618em;
    line-height: 1.85414em;
    font-weight: normal;
    margin: 0;
    text-align: center; }

/* line 55, ../sass/_content.scss */
.hp-posts {
  /* 0 - 432px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 55, ../sass/_content.scss */
    .hp-posts {
      list-style-type: none;
      margin: auto 0;
      padding: 0 0 .5em .8em; }
      /* line 60, ../sass/_content.scss */
      .hp-posts li {
        margin: 1em; } }

/* line 69, ../sass/_content.scss */
.meta {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 69, ../sass/_content.scss */
    .meta {
      text-align: center; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 69, ../sass/_content.scss */
    .meta {
      text-align: center; } }

/* line 82, ../sass/_content.scss */
.pagetitle {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 82, ../sass/_content.scss */
    .pagetitle {
      margin: 0;
      text-align: center; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 82, ../sass/_content.scss */
    .pagetitle {
      margin: 0;
      text-align: center; } }

/* line 96, ../sass/_content.scss */
.post {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 96, ../sass/_content.scss */
    .post {
      background-color: white;
      padding: 1em;
      text-align: justify;
      hyphens: auto; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 96, ../sass/_content.scss */
    .post {
      background-color: white;
      margin: 0 auto;
      padding: 1.5em;
      width: 26em; } }

/* line 114, ../sass/_content.scss */
.welcome-message {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 114, ../sass/_content.scss */
    .welcome-message {
      background-color: white;
      margin: 0 .5em 0 .5em;
      padding: .5em .2em .2em .6em; } }
  /* line 121, ../sass/_content.scss */
  .welcome-message h5 {
    margin: 0;
    text-align: center; }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 114, ../sass/_content.scss */
    .welcome-message {
      background-color: #FFF;
      margin: 0 auto;
      padding: 1em;
      width: 25em; } }

/* line 1, ../sass/_footer.scss */
.contact {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 1, ../sass/_footer.scss */
    .contact {
      padding: 0.5em; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 1, ../sass/_footer.scss */
    .contact {
      text-align: center; } }
  /* line 13, ../sass/_footer.scss */
  .contact h4,
  .contact p {
    font-weight: normal;
    margin: 0;
    padding: 0; }

/* line 22, ../sass/_footer.scss */
.footer {
  /* 0 - 432px */
  /* 433 - 478px */ }
  @media all and (min-width: 0em) and (max-width: 27em) {
    /* line 22, ../sass/_footer.scss */
    .footer {
      background-color: white;
      text-align: left; } }
  @media all and (min-width: 27.063em) and (max-width: 34.625em) {
    /* line 22, ../sass/_footer.scss */
    .footer {
      background-color: white;
      margin: 0 auto;
      padding: .5em;
      width: 25em; } }
