.footer {
	background: url(http://localhost:4000/images/green-fibers_@2X.png);
	p {
		color: white;
	}

	@include breakpoint(smartphone) { 
	 	display: block;

	 }

	 .contact {
	 	padding: 1em;

	 }

	 p {
	 	font-style: none;
	 }
}

.entire-site {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.wrapper:after {
  content: "";
  display: block;
}
.footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 142px; 
}