.footer {
	background: url(http://localhost:4000/images/green-fibers_@2X.png);
	p {
		color: white;
	}

	@include breakpoint(smartphone) { 
	 	display: block;

	 }

	 .contact {
	 	padding: 1em;

	 }

	 p {
	 	font-style: none;
	 }
}