.header {
		background: url(http://localhost:4000/images/binding_dark_@2X.png);

	@include breakpoint(smartphone) { 
	 	display: block;

	}

}

.title {
	color: white;
	text-align: center;
	@include breakpoint(smartphone) { 
	 	display: block;
	 	@include adjust-font-size-to(29.124px);
	
	}

}

