.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
@include breakpoint(smartphone) { 
	 	width: 20em;

	 }

}

.header {
	 @include breakpoint(smartphone) { 
	 	width: 20em; 

	 }

}

.main {
	 @include breakpoint(smartphone) { 
	 	width: 18em;
	 	margin: 0 auto;
	 	@include trailer (); 

	 }

}

.nav {
	@include breakpoint(smartphone) { 
	 	width: 20em; 
	 	@include leader ();
	 	@include trailer ();

	 }

}

.entire-page {
	min-height: 100%;
	position: relative;
	@include breakpoint(smartphone) { 
	 	width: 20em; 

	 }

}